.placeInfo {
  font-family: $primaryFont;
  padding: 20px 15px;

  h1 {
    padding-bottom: 20px;
    font-size: 1.9rem;
  }

  .filters {
    padding: 5px 0 30px;

    > label {
      opacity: 0.8;
    }

    div {
      padding-top: 5px;

      select {
        margin-right: 2rem;
        background: none;
        border: none;
        border-bottom: 1px solid #000;
        font-size: 1rem;
        padding-right: 20px;
      }
    }
  }

  .places {
    height: 65vh;
    overflow: auto;
    padding: 0 15px;

    h1 {
      padding: 20px 0;
    }
  }
}
