@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main > section {
  width: 50%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 40px;
  background-color: #394fb3;
  color: #fff;
  font-family: "Lato", sans-serif;
}

.leaflet-container {
  width: 100%;
  height: 90vh;
}

.markerIcon > div {
  background-color: #fff;
  padding: 20px 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Lato", sans-serif;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 200px;
}

.markerIcon > div img {
  height: 80%;
  width: 100%;
}

.star-ratings {
  margin-top: 0.5rem;
}

.placeInfo {
  font-family: "Lato", sans-serif;
  padding: 20px 15px;
}

.placeInfo h1 {
  padding-bottom: 20px;
  font-size: 1.9rem;
}

.placeInfo .filters {
  padding: 5px 0 30px;
}

.placeInfo .filters > label {
  opacity: 0.8;
}

.placeInfo .filters div {
  padding-top: 5px;
}

.placeInfo .filters div select {
  margin-right: 2rem;
  background: none;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 1rem;
  padding-right: 20px;
}

.placeInfo .places {
  height: 65vh;
  overflow: auto;
  padding: 0 15px;
}

.placeInfo .places h1 {
  padding: 20px 0;
}

.singlePlace {
  margin: 1rem auto 2rem;
  -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
}

.singlePlace > img {
  width: 100%;
}

.singlePlace h2 {
  padding: 10px 10px;
}

.singlePlace > div {
  padding: 5px 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.singlePlace > div.awards h4 {
  opacity: 0.7;
}

.singlePlace > div.address svg {
  width: 15px;
  height: 15px;
}

.singlePlace > div.address h5 {
  width: 70%;
  text-align: right;
}

.singlePlace > div.phone svg {
  width: 15px;
  height: 15px;
}

.singlePlace .cuisine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px 0;
}

.singlePlace .cuisine h5 {
  margin: 5px;
  background-color: #e1e0e2;
  font-size: 0.85rem;
  padding: 5px 10px;
  border-radius: 20px;
}

.singlePlace button {
  border: none;
  background: none;
  opacity: 0.7;
  font-size: 0.9rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px;
  cursor: pointer;
}

.singlePlace button:hover {
  opacity: 1;
}

@media (max-width: 1200px) {
  body {
    overflow: auto !important;
  }
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  main > section {
    width: 100%;
  }
  .singlePlace {
    width: 50%;
  }
  .placeInfo .places {
    height: auto;
  }
}

@media screen and (max-width: 992px) {
  header {
    padding: 20px 20px;
  }
  header h1 {
    font-size: 1.5rem;
  }
  header h2 {
    font-size: 1.3rem;
  }
  .singlePlace {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  header {
    padding: 20px 10px;
  }
  header h1 {
    font-size: 1.2rem;
  }
  header h2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 576px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header h1 {
    font-size: 2rem;
    padding-bottom: 5px;
  }
  header h2 {
    font-size: 1.5rem;
    padding: 5px 0;
  }
}

@media screen and (max-width: 480px) {
  header h2 {
    font-size: 1.2rem;
  }
  .placeInfo .filters div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 15px;
  }
  .singlePlace {
    width: 100%;
  }
  .singlePlace .ranking h5 {
    width: 60%;
    text-align: right;
  }
  .singlePlace > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .singlePlace > div.awards h4 {
    font-size: 0.9rem;
    width: 80%;
    text-align: right;
  }
  .singlePlace button {
    padding: 15px 20px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow: hidden;
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: #394fb3;
  -webkit-animation: spinner 0.6s linear infinite;
          animation: spinner 0.6s linear infinite;
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=main.css.map */